@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

* { box-sizing: border-box; }

.omg-main-container {
  max-width:960px;
  width:100%;
  margin:auto;
}

a {
  text-decoration : none !important;
}

.godBg {
  background-color: $god;
}

.titanBg {
  background-color: $titan;
}

.nymphBg {
  background-color: $nymph;
}

.creatureBg {
  background-color: $creature;
}

.humanBg {
  background-color: $human;
}

.nymphBorder {
  border-bottom : 5px solid $nymph;
}

.godBorder {
  border-bottom : 5px solid $god;
}

.creatureBorder {
  border-bottom : 5px solid $creature;
}

