$mainGrey : #eeeeee;
$darkGrey : #9d9c9c;

$olympian : #ffa631;
$minorGod : #f06a28;
$nymph : #26a65b;
$muse: #d24d57;
$creature : #5b3256;
$human : #317589;

$mainFontTitle : 'Open Sans Condensed';
$mainFont : Arial;
