$mainGrey : #eeeeee;
$darkGrey : #9d9c9c;

$god : #ffa631;
$titan : #d44a38;
$nymph : #26a65b;
$creature : #5b3256;
$human : #317589;

$mainFontTitle : 'Open Sans Condensed';
$mainFont : Arial;
$mainFontColor : #7C7C7C;